In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
load_dotenv()

True

In [5]:
db_url = os.getenv('db_url')
engine = create_engine(db_url)

In [6]:
energy_df = pd.read_sql_table('energy', con=engine)
energy_df

,date_time,generation biomass,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation other renewable,generation solar,generation wind onshore,total renewable generation,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual,price difference,price_lag_1d,price_lag_7d,price_lag_30d
0,2015-01-01 00:00:00,447.0,863.0,1051.0,1899.0,73.0,49.0,6378.0,10760.0,17,6436,26118,25385.0,50.10,65.41,15.31,65.41,65.41,65.41
1,2015-01-01 01:00:00,449.0,920.0,1009.0,1658.0,71.0,50.0,5890.0,10047.0,16,5856,24934,24382.0,48.10,64.92,16.82,65.41,65.41,65.41
2,2015-01-01 02:00:00,448.0,1164.0,973.0,1371.0,73.0,50.0,5461.0,9540.0,8,5454,23515,22734.0,47.33,64.48,17.15,64.92,65.41,65.41
3,2015-01-01 03:00:00,438.0,1503.0,949.0,779.0,75.0,50.0,5238.0,9032.0,2,5151,22642,21286.0,42.27,59.32,17.05,64.48,65.41,65.41
4,2015-01-01 04:00:00,428.0,1826.0,953.0,720.0,74.0,42.0,4935.0,8978.0,9,4861,21785,20264.0,38.41,56.04,17.63,59.32,65.41,65.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35055,2018-12-31 19:00:00,297.0,1.0,1135.0,4836.0,95.0,85.0,3113.0,9562.0,96,3253,30619,30653.0,68.85,77.02,8.17,77.61,72.42,69.40
35056,2018-12-31 20:00:00,296.0,1.0,1172.0,3931.0,95.0,33.0,3288.0,8816.0,51,3353,29932,29735.0,68.40,76.16,7.76,77.02,71.80,69.90
35057,2018-12-31 21:00:00,292.0,50.0,1148.0,2831.0,94.0,31.0,3503.0,7949.0,36,3404,27903,28071.0,66.88,74.30,7.42,76.16,71.95,66.97
35058,2018-12-31 22:00:00,293.0,108.0,1128.0,2068.0,93.0,31.0,3586.0,7307.0,29,3273,25450,25801.0,63.93,69.89,5.96,74.30,70.85,65.48
35059,2018-12-31 23:00:00,290.0,108.0,1069.0,1686.0,92.0,31.0,3651.0,6927.0,26,3117,24424,24455.0,64.27,69.88,5.61,69.89,71.36,68.20

In [7]:
weather_df = pd.read_sql_table('weather', con=engine)
weather_df

                 date_time city_name  avg_temp  wind_speed  humidity
0      2015-01-01 00:00:00  Valencia   270.475           1        77
1      2015-01-01 01:00:00  Valencia   270.475           1        77
2      2015-01-01 02:00:00  Valencia   269.686           0        78
3      2015-01-01 03:00:00  Valencia   269.686           0        78
4      2015-01-01 04:00:00  Valencia   269.686           0        78
...                    ...       ...       ...         ...       ...
175295 2018-12-31 19:00:00   Seville   287.650           3        54
175296 2018-12-31 20:00:00   Seville   285.650           3        62
175297 2018-12-31 21:00:00   Seville   285.150           4        58
175298 2018-12-31 22:00:00   Seville   284.150           4        57
175299 2018-12-31 23:00:00   Seville   283.650           3        70

[175300 rows x 5 columns]

In [8]:
weather_df['city_name'].value_counts()

Valencia     35060
Madrid       35060
Bilbao       35060
Barcelona    35060
Seville      35060
Name: city_name, dtype: int64

In [9]:
weather_data_grouped = weather_df.groupby('date_time').agg({
    'avg_temp': ['mean', 'max', 'std'],
    'wind_speed': ['mean', 'max', 'std'],
    'humidity': ['mean', 'max', 'std']
}).reset_index()
weather_data_grouped.columns = [
    'date_time', 'avg_temp', 'max_temp', 'std_temp',        
    'avg_wind_speed', 'max_wind_speed', 'std_wind_speed', 
    'avg_humidity', 'max_humidity', 'std_humidity'
]

In [10]:
weather_data_grouped

,date_time,avg_temp,max_temp,std_temp,avg_wind_speed,max_wind_speed,std_wind_speed,avg_humidity,max_humidity,std_humidity
0,2015-01-01 00:00:00,272.491463,281.625,5.545111,2.0,7,2.828427,82.4,100,15.678010
1,2015-01-01 01:00:00,272.512700,281.625,5.531730,2.0,7,2.828427,82.4,100,15.678010
2,2015-01-01 02:00:00,272.099137,281.286,5.857526,2.4,7,2.792848,82.0,100,15.890249
3,2015-01-01 03:00:00,272.089469,281.286,5.863439,2.4,7,2.792848,82.0,100,15.890249
4,2015-01-01 04:00:00,272.145900,281.286,5.829980,2.4,7,2.792848,82.0,100,15.890249
...,...,...,...,...,...,...,...,...,...,...
35055,2018-12-31 19:00:00,284.450000,287.650,2.413504,1.4,3,1.140175,73.6,93,16.652327
35056,2018-12-31 20:00:00,282.150000,285.650,2.549510,1.8,3,1.095445,68.0,93,15.508062
35057,2018-12-31 21:00:00,280.850000,285.150,3.232646,2.6,4,1.516575,71.4,100,19.165072
35058,2018-12-31 22:00:00,279.750000,284.150,3.189828,2.8,5,1.643168,70.0,93,17.464249
35059,2018-12-31 23:00:00,278.750000,283.650,3.489269,2.6,5,1.516575,82.4,100,13.240091

In [11]:
df_joined = weather_data_grouped.set_index('date_time').join(energy_df.set_index('date_time'))
df_joined

,avg_temp,max_temp,std_temp,avg_wind_speed,max_wind_speed,std_wind_speed,avg_humidity,max_humidity,std_humidity,generation biomass,...,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual,price difference,price_lag_1d,price_lag_7d,price_lag_30d
date_time,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,272.491463,281.625,5.545111,2.0,7,2.828427,82.4,100,15.678010,447.0,...,17,6436,26118,25385.0,50.10,65.41,15.31,65.41,65.41,65.41
2015-01-01 01:00:00,272.512700,281.625,5.531730,2.0,7,2.828427,82.4,100,15.678010,449.0,...,16,5856,24934,24382.0,48.10,64.92,16.82,65.41,65.41,65.41
2015-01-01 02:00:00,272.099137,281.286,5.857526,2.4,7,2.792848,82.0,100,15.890249,448.0,...,8,5454,23515,22734.0,47.33,64.48,17.15,64.92,65.41,65.41
2015-01-01 03:00:00,272.089469,281.286,5.863439,2.4,7,2.792848,82.0,100,15.890249,438.0,...,2,5151,22642,21286.0,42.27,59.32,17.05,64.48,65.41,65.41
2015-01-01 04:00:00,272.145900,281.286,5.829980,2.4,7,2.792848,82.0,100,15.890249,428.0,...,9,4861,21785,20264.0,38.41,56.04,17.63,59.32,65.41,65.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 19:00:00,284.450000,287.650,2.413504,1.4,3,1.140175,73.6,93,16.652327,297.0,...,96,3253,30619,30653.0,68.85,77.02,8.17,77.61,72.42,69.40
2018-12-31 20:00:00,282.150000,285.650,2.549510,1.8,3,1.095445,68.0,93,15.508062,296.0,...,51,3353,29932,29735.0,68.40,76.16,7.76,77.02,71.80,69.90
2018-12-31 21:00:00,280.850000,285.150,3.232646,2.6,4,1.516575,71.4,100,19.165072,292.0,...,36,3404,27903,28071.0,66.88,74.30,7.42,76.16,71.95,66.97
2018-12-31 22:00:00,279.750000,284.150,3.189828,2.8,5,1.643168,70.0,93,17.464249,293.0,...,29,3273,25450,25801.0,63.93,69.89,5.96,74.30,70.85,65.48
2018-12-31 23:00:00,278.750000,283.650,3.489269,2.6,5,1.516575,82.4,100,13.240091,290.0,...,26,3117,24424,24455.0,64.27,69.88,5.61,69.89,71.36,68.20

In [12]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35060 entries, 2015-01-01 00:00:00 to 2018-12-31 23:00:00
Data columns (total 27 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   avg_temp                                     35060 non-null  float64
 1   max_temp                                     35060 non-null  float64
 2   std_temp                                     35060 non-null  float64
 3   avg_wind_speed                               35060 non-null  float64
 4   max_wind_speed                               35060 non-null  int64
 5   std_wind_speed                               35060 non-null  float64
 6   avg_humidity                                 35060 non-null  float64
 7   max_humidity                                 35060 non-null  int64
 8   std_humidity                                 35060 non-null  float64
 9   generation biomass                           35060 non-null  float64
 10  generation hydro pumped storage consumption  35060 non-null  float64
 11  generation hydro run-of-river and poundage   35060 non-null  float64
 12  generation hydro water reservoir             35060 non-null  float64
 13  generation other renewable                   35060 non-null  float64
 14  generation solar                             35060 non-null  float64
 15  generation wind onshore                      35060 non-null  float64
 16  total renewable generation                   35060 non-null  float64
 17  forecast solar day ahead                     35060 non-null  int64
 18  forecast wind onshore day ahead              35060 non-null  int64
 19  total load forecast                          35060 non-null  int64
 20  total load actual                            35060 non-null  float64
 21  price day ahead                              35060 non-null  float64
 22  price actual                                 35060 non-null  float64
 23  price difference                             35060 non-null  float64
 24  price_lag_1d                                 35060 non-null  float64
 25  price_lag_7d                                 35060 non-null  float64
 26  price_lag_30d                                35060 non-null  float64
dtypes: float64(22), int64(5)
memory usage: 8.5 MB